.navbar {
      margin-bottom: 50px;
      border-radius: 0px;
    }
    .blow{
    	margin-bottom: -20px;
      margin-top: -0px;
      padding-top: 40px;
    }
    .footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    .center{
      text-align: center;
      font: 60px Open Sans;
      padding-top: 150px;
    }
    .des{
      text-align: center;
      font: 20px Open Sans;
      padding-bottom: 100px;
    }
    .color{
      background-color: #45565c; /* Blue */
      color: #ffffff;
    }
    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }
  .subject{
   background-color: rgb(125,185,200);
   color: #000;
  border: 4px;
}



  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 00px) {
    .carousel-caption {
      display: none; 
    }
  }
